#jumbo {
    background: url(..img/yellowjumpsuit.png) no-repeat center;
    background-size: cover;
    color: rgb(0, 0, 0);
    padding-top: 12rem
  }
  
  #jumbo {
    margin-bottom: 30px;
  }

  #jumbo {
    position: relative;
    overflow: hidden;
  }
  
  .cinematic-title {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
  }
  
  .tagline {
    color: #000000;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  }
  