// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// Import partials
@import 'nav';
@import "jumbotron";

h3 {
  font-size: 1.5rem;
}


a img:hover {
  opacity: 0.9;
  transition: opacity 0.2s ease;
}

body {
  background-color: #222222;
  color: #ffffffb0;
}

.card {
  background-color: #363636;
  color: #ffffff;
  border: 1px solid #474dc4;
}

a {
  color: #9da0d6;
}

a:hover {
  color: #ffffff;
}

.btn-outline-primary {
  border-color: #9ecbff;
  color: #9ecbff;
}

.btn-outline-primary:hover {
  background-color: #9ecbff;
  color: #121212;
}


